# Default system properties included when running spark-submit.
# This is useful for setting default environmental settings.

# Example:
# spark.master            spark://master:7077
# spark.eventLog.enabled  true
# spark.eventLog.dir      hdfs://namenode:8021/directory
# spark.serializer        org.apache.spark.serializer.KryoSerializer

# increase if you see out-of-memory exceptions in spark shell
spark.executor.memory   {{ spark_executor_memory }}

spark.serializer        org.apache.spark.serializer.KryoSerializer
spark.executor.extraClassPath "{{ tachyon_root }}/client/target/tachyon-client-0.5.0-jar-with-dependencies.jar"
